@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'TacticSans';
  src: url('/fonts/fonnts.com-tacticsans-med.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: block;
  font-family: 'Inter', sans-serif;
  /* centriramo karticu */
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-form-field { width: 100%; }
::ng-deep .mat-mdc-text-field-wrapper { background-color: white !important; border-radius: 12px !important; }
::ng-deep .mdc-text-field--outlined { padding: 0 !important; border-radius: 12px !important; }
::ng-deep .mat-mdc-form-field-flex { height: 44px !important; align-items: center !important; }
::ng-deep .mdc-notched-outline__leading, ::ng-deep .mdc-notched-outline__notch, ::ng-deep .mdc-notched-outline__trailing { border-color: transparent !important; border-width: 0 !important; }
::ng-deep .mat-mdc-form-field-error { color: #d01212 !important; font-size: 13px !important; margin-top: 4px !important; font-weight: 400 !important; letter-spacing: 0.5px !important; text-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !important; }
::ng-deep .mdc-text-field--outlined .mdc-text-field__input { padding: 0 12px !important; height: 44px !important; font-size: 14px !important; color: #000 !important; }

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-title {
  font-family: 'TacticSans', 'Inter', 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white; 
  text-align: center;
  margin-bottom: 20px; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.auth-card {
  width: 350px;
  background: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-label {
  display: block;
  color: white; 
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 400;
}

.button-group {
  display: flex;
  gap: 12px;
}

.cancel-btn {
  background: rgba(85, 24, 93, 0.25);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
}

.cancel-btn:hover {
  background: rgba(85, 24, 93, 0.85);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(85, 24, 93, 0.3);
}

.reset-btn {
  background: #FFB800;
  color: #370E3D; 
  border: 1.75px solid #2C2C2C;
  padding: 10px 16px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Inter', 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
}

.reset-btn:hover:not(:disabled) {
  background: #FFB800;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 180, 0, 0.4);
}

.reset-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: #FFB800;
  color: #fff;
}