<div class="auth-wrapper">
  <div class="top-left-logo" routerLink="/">
    <img src="assets/logo.png" alt="TilTaxi Logo" class="top-logo" />
    <h1 class="top-brand-name">tilTaxi</h1>
  </div>
  
  <h2 class="login-title">Log in</h2>

  <div class="auth-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="input-group">
        <label class="input-label">Email</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="f['email'].errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="f['email'].errors?.['email']">Invalid email format</mat-error>
        </mat-form-field>
      </div>

      <div class="input-group">
        <label class="input-label">Password</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="f['password'].errors?.['required']">Password is required</mat-error>
        </mat-form-field>
      </div>

      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
        Log in
      </button>

      <a routerLink="/forgot-password" class="forgot-link">Forgot password?</a>
    </form>
  </div>
</div>
