.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000 0%, #55185D 100%);
  color: #ffffff;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
