@font-face {
  font-family: 'RollerScript';
  src: url('/fonts/fonnts.com-rollerscript-rough.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TacticSans';
  src: url('/fonts/fonnts.com-tacticsans-med.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* MAIN CONTENT */
.content-container {
  flex: 1;
  padding: 40px 15%;
}

.page-header-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}

/* KARTICA PROFILA */
.main-profile-card {
    background-color: #55555a;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 40px 60px;
}

.card-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.user-meta {
    display: flex;
    align-items: center;
    gap: 25px;
}

.avatar-main-circle {
    width: 110px;
    height: 110px;
    background-color: #5d2a7a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-main-circle i {
    font-size: 50px;
}

.user-name-email h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.user-name-email p {
    font-size: 18px;
    color: #d1d1d1;
}

.edit-btn {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #000000;
}

/* TABS */
.profile-tabs-bar {
    background-color: #88888d;
    border-radius: 50px;
    display: flex;
    padding: 8px;
    margin-bottom: 40px;
    border: 1px solid #999;
    border: 2px solid #ffffff; 
}

.tab-item {
    flex: 1;
    background: none;
    border: none;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.tab-item.active {
    font-weight: 800;
    color: #000;
}

/* FORMA */
.profile-data-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.data-row {
    display: flex;
    align-items: center;
}

.data-row label {
    width: 30%;
    font-size: 24px;
}

.data-field {
    width: 70%;
    background-color: #dcdcdc;
    color: #000;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.multi-line {
    line-height: 1.2;
}

/* za ostale tabove admina */
.placeholder-content {
    padding: 100px;
    text-align: center;
    font-size: 24px;
    color: #ccc;
    background: #44444a;
    border-radius: 15px;
}