<div class="section">
  <div class="container">
    <div class="text-block">
      <p class="text1">Welcome To</p>
      <p class="text2">tilTaxi</p>
      <div class="text3-wrapper">
        <p class="text3 glow">Fast, safe and reliable<br />taxi service near you</p>
        <p class="text3 main">Fast, safe and reliable<br />taxi service near you</p>
      </div>
    </div>

    <div class="image-block">
      <img src="assets/taxi.png" alt="Slika" class="right-image" />
    </div>
  </div>

  <div class="center-text-section">
    <p class="center-text-large">See available rides near you</p>
    <p class="center-text-small">
      Watch our fleet of drivers in real-time. Click on any vehicle to see driver details.
    </p>
  </div>
</div>
<div class="map-container">
  <app-map></app-map>

  <div class="ride-request-card">
    <input type="text" placeholder="Enter pickup location" class="ride-input" />
    <input type="text" placeholder="Enter destination" class="ride-input" />
    <button class="ride-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 0a5 5 0 0 0-5 5c0 3.75 5 11 5 11s5-7.25 5-11a5 5 0 0 0-5-5zm0 7.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z"/>
      </svg>
        Request a ride
    </button>
  </div>
</div>
