@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'TacticSans';
  src: url('/fonts/fonnts.com-tacticsans-med.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: block;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.admin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
}

.register-title {
  font-family: 'TacticSans', 'Inter', 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.auth-card {
  width: 600px;
  background: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group.half-width { flex: 1; }

.input-label {
  display: block;
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 400;
}

.white-check {
  color: white !important;
  margin-top: 5px;
}

/* Dugmad */
.button-row {
  margin-top: 25px;
  gap: 15px;
}

.back-btn {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 12px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.register-btn {
  flex: 1;
  background: #FFB800;
  color: #2C2C2C;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.register-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
  border-radius: 12px !important;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 44px !important;
  align-items: center !important;
}

::ng-deep .mdc-notched-outline__leading,
::ng-deep .mdc-notched-outline__notch,
::ng-deep .mdc-notched-outline__trailing {
  border-color: transparent !important;
}

::ng-deep .mat-mdc-select-value {
    color: #2C2C2C !important;
    padding-left: 8px;
}

::ng-deep .mdc-label {
  color: white !important;
}

@media (max-width: 768px) {
  .auth-card { width: 95%; padding: 20px; }
  .form-row { flex-direction: column; }
}